


#Weebly Additions Start
ErrorDocument 404 /w_api/Handler.php

RewriteEngine on

RewriteCond %{HTTP_HOST} !^gracelandlife.co.za [NC]
RewriteCond %{HTTP_HOST} !^$
RewriteCond %{HTTPS}:s (on:(s)|off:s)
RewriteRule ^/?(.*) http%2://gracelandlife\.co\.za/$1 [L,R=301,NE]




Options 
RewriteEngine on

RewriteCond %{REQUEST_URI} !-f
RewriteRule ^ajax/(.*)$	/w_api/Handler.php [L]

RewriteBase /
RewriteRule ^$ index.html [R=301,L]







RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /w_api/Handler.php

#Weebly Additions End
