.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img.logo {
    padding: 10px 0px;
  }

  .nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;

    .nav-border {
      height: 1px;
      width: 20vw;
      background-color: var(--graceland-color-text);
    }

    ion-button {
      --background: white;
      --border-radius: 20px;
    }

    ion-button:hover {
      --background: rgba(var(--graceland-color-turquoise-rgb), 0.3);
      p {
        color: var(--graceland-color-blue);
      }
    }
  }
}
