:root {
  /*===============================================
  =============== Graceland colors ================
  ===============================================*/
  --graceland-color-blue-rgb: 58, 65, 111;
  --graceland-color-blue: rgb(var(--graceland-color-blue-rgb));
  --graceland-color-green-rgb: 43, 114, 123;
  --graceland-color-green: rgb(var(--graceland-color-green-rgb));
  --graceland-color-turquoise-rgb: 98, 168, 158;
  --graceland-color-turquoise: rgb(var(--graceland-color-turquoise-rgb));
  --graceland-color-text-rgb: 150, 150, 150;
  --graceland-color-text: rgb(var(--graceland-color-text-rgb));

  /*===============================================
  =================== Main Doc ====================
  ===============================================*/

  @import url("//fonts.googleapis.com/css?family=Gentium+Basic:400,700,400italic,700italic&subset=latin,latin-ext");

  * {
    background-color: white;
  }

  body {
    height: 100%;
    margin: 0px;
  }
  html {
    height: 100%;
    margin: 0px;
    font-family: "Gentium Basic";
    color: var(--graceland-color-text);
  }

  h1,
  h2,
  h3 {
    margin: 0px;
    text-align: center;
    color: var(--graceland-color-text);
    font-family: "Gentium Basic";
  }

  h1 {
    font-size: clamp(25px, 40px, 3vw);
  }

  h2 {
    font-size: clamp(20px, 30px, 2.5vw);
  }

  h3 {
    font-size: clamp(15px, 20px, 2vw);
  }

  p {
    color: var(--graceland-color-text);
    background-color: transparent;
    font-size: clamp(15px, 20px, 1.5vw);
    font-family: "Gentium Basic";
    margin: 0px;
  }

  ion-header:after {
    display: none;
  }
}
